.App {
  text-align: center;
  
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.text{
  flex: 1;
  font-size: 50px
};

.video{
 position: relative;
};

/* Center the image carousel */
.image-slide {
  max-width: 100%;
  margin: 0 auto;
}


.History text{
margin-top: auto;
margin-bottom: auto;
margin-right: 100%;
margin-left: 50%;
}

.Serafini {
  color: white;
  text-align: center;
  font-size: 150%;
}

